# SPDX-License-Identifier: MIT

[project]
name = "libdave.py"
version = "0.1.0a"
description = "Python bindings for the libdave package."
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [{ name = "Disnake Development" }]

[dependency-groups]
build = [
  "build~=0.10.0",
  "twine~=5.1.1",
  "wheel~=0.40.0",
]
nox = [
  "nox==2025.5.1",
]
tools = [
  "check-manifest==0.49",
  "pre-commit~=3.0",
  "ruff==0.13.0",
  "slotscheck~=0.16.4",
]
typing = [
  # this is not pyright itself, but the python wrapper
  "pyright==1.1.336",
  # only used for type-checking, version does not matter
  "pytz",
]

[build-system]
requires = ["nanobind==2.9.2", "scikit-build-core>=0.4.3"]
build-backend = "scikit_build_core.build"

[tool.nox]
script-venv-backend = "uv|virtualenv"

[tool.pdm]
# Ignore `requires-python` warnings when locking, the latest versions of some
# dependencies already require >=3.9
# See also https://pdm-project.org/en/latest/usage/config/#ignore-package-warnings
ignore_package_warnings = ["*"]

[tool.pdm.scripts]
lint = { cmd = "nox -Rs lint --", help = "Check all files for linting errors" }
pyright = { cmd = "nox -Rs pyright --", help = "Run pyright" }
setup_env = { cmd = "{pdm} install -G:all", help = "Set up the local environment and all dependencies" }
post_setup_env = { composite = [
  "python -m ensurepip --default-pip",
  "pre-commit install --install-hooks",
] }

[tool.pyright]
typeCheckingMode = "strict"
include = [
  "dave",
  "*.py",
]

[tool.ruff]
line-length = 100

[tool.ruff.lint]
future-annotations = true
select = ["ALL"]
unfixable = ["ERA001"]
ignore = [
  # #flake8-commas
  "COM812",  # mostly managed by the formatter
  # #flake8-simplify
  "SIM105",
  "SIM108",  # too noisy for us
  # #flake8-tidy-imports
  "TID252",  # we still use relative imports
  # #flake8-todos
  "TD",  # similar to flake8-fixme, though they may conflict
  # #pydocstyle
  "D1",
  "D205",
  "D301",
  "D400",
  "D401",
  # #Ruff-specific rules
  "RUF006",  # not actually sure this is a bug at all...
  "RUF022",  # TODO: consider enabling
  "RUF023",  # TODO: consider enabling
  # #tryceratops
  "TRY003",  # as of 0.13.0 still has some false positives
  "TRY301",  # TODO: enable
  "TRY300",  # TODO: enable
]

[tool.ruff.lint.per-file-ignores]
"noxfile.py" = ["EXE003"]

[tool.ruff.lint.flake8-annotations]
ignore-fully-untyped = true

[tool.ruff.lint.flake8-bugbear]
extend-immutable-calls = [
  "disnake.ext.commands.inject",
  "disnake.ext.commands.Param",
  "disnake.webhook.async_.AsyncWebhookAdapter",
]

[tool.ruff.lint.flake8-tidy-imports.banned-api]
"subprocess".msg = "Consider possible security implications associated with the subprocess module."  # replaces S404

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.scikit-build]
minimum-version = "0.4"
# Setuptools-style build caching in a local directory
build-dir = "build/{wheel_tag}"
# Build stable ABI wheels for CPython 3.12+
wheel.py-api = "cp312"
wheel.packages = ["src/dave"]
cmake.build-type = "Debug"
