name: Wheels

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build SDist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v4
        with:
          name: dist-sdist
          path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-15-intel
          # - macos-latest
          - windows-latest
          # - windows-11-arm
        # this will be the only one for now, but left configurable nonetheless
        # TODO: actually use this for VCPKG_MANIFEST_DIR
        crypto: [openssl_3]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      # TODO: this is somewhat expensive. maybe we can drop the vcpkg submodule somehow?
      - name: Unshallow vcpkg submodule
        run: git -C libdave/cpp/vcpkg fetch --unshallow

      - uses: ./.github/actions/prepare-vcpkg
        with:
          os: ${{ matrix.os }}
          crypto: ${{ matrix.crypto }}
          cache-dir: ${{ github.workspace }}/vcpkg_cache

      # TODO: CMAKE_BUILD_PARALLEL_LEVEL ?
      # TODO: REQUIRE_BORINGSSL to enforce boringssl if requested?
      - uses: pypa/cibuildwheel@v3.2

      - name: Verify clean directory
        run: git diff --exit-code

      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          path: wheelhouse/*.whl
          name: dist-${{ matrix.os }}

  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/setup-python@v6
      - uses: actions/download-artifact@v5
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
